
.text-card{
    position: absolute;
    background-color: aqua;
    top: 100px;
}

.card1{
    position: absolute;
    background-color: rgb(151, 146, 149);
    top: 280px;
    left: 350px;
    height: 290px;
    width: 260px;
    border-radius: 45px;
    box-shadow: 0 50px 45px rgb(0, 0, 0);
    
}

.card1 :hover{
    
    /* box-shadow: 0 100px 105px rgb(12, 12, 12); */
    background: fixed;
}

.card2{
    position: absolute;
    background-color: rgb(151, 146, 149);
    top: 280px;
    left: 750px;
    height: 290px;
    width: 260px;
    border-radius: 45px;
    box-shadow: 0 80px 95px rgb(0, 0, 0);
    
}

.card2 :hover{
    
    box-shadow: 0 100px 105px rgb(12, 119, 190);
    background: fixed;
}

.but1{
    position: absolute;
    height: 50px;
    width: 180px;
    background-image: linear-gradient(rgb(248, 65, 65),rgb(226, 48, 48),rgb(192, 37, 37), rgb(248, 65, 65));
    top: 220px;
    color: azure;
    border-radius: 50px;
}

a{
    color: beige;
}


.cards{
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    padding: 9rem;
    background-color: blueviolet;
    height: 300px;
    width: 230px;
}